<%- include('./_toannv-header.ejs', { title:'React' }) %>
  <h1>Ask something <%- title %></h1>
  <div id="app"><%- markup %></div>
  <script>
    window.__PRELOADED_STATE__ = <%- initialState %>;
  </script>
  <script type="text/javascript" charset="utf-8" src="/js/toannv-sample.js"></script>
<%- include('./_footer') %>
